<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Noticias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">NEWS</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Texto</th>
                    </tr>
                    <% for(var i = 0; i < news.length; i++){ %>
                    <tr>
                        <td><%= news[i].id_news %></td>
                        <td><%= news[i].title %></td>
                        <td><%= news[i].text %></td>
                    </tr>
                    <% } %>            
                </table>
            </div>
            <div class="col-md-6 mt-4 card">
                <form action="/news" method="POST">
                    <h3 class="card-title">Agregar noticias</h3>
                    <div class="form-group">
                        <input type="text" name="title" id="title" class="form-control" placeholder="titulo">
                        <input type="text" name="text" id="text" class="form-control" placeholder="texto">
                        <input type="submit" value="Agregar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var inputTitle = document.getElementById('title').focus();
    </script>
</body>
</html>