body{
    background-color: #222233;
    color: #AACCFF;
    font-family: 'Segoe Ui', Tahoma, sans-serif;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-app-region: drag;
}